body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #3333FF;
}

body {
	/*background:url('/images/background.jpg');*/
	background-color:#DDFFFF;
}

h1 {
	text-align: center;
	font-size:3em;
}

div.row{
	/*opacity: 0.6;
	-moz-opacity: 0.6;
	filter:alpha(opacity=60);
	background-color: #ffffff;*/
	padding: 10px;
}

div.span4.offset4 a {
	color: blue;
}

div.row img {
	z-index:9999;
	opacity: 1.0;
	-moz-opacity: 1.0
	filter:alpha(opacity=100);
}

div.container p {
	color:black;
}

div.container strong { 
	font-family: 'Salsa', sans-serif;
	font-size: 1.5em;
}

div.modal {
	width:300px;
}