<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Phil MacCart :: Software Consultant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Phil MacCart">

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!--<link href='http://fonts.googleapis.com/css?family=Belleza' rel='stylesheet' type='text/css'>-->
    <link href='http://fonts.googleapis.com/css?family=Salsa' rel='stylesheet' type='text/css'>
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
  	<div class="background">
     <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li class="dropdown" id="menu1">
    		     <a class="dropdown-toggle" data-toggle="dropdown" href="#sandboxes">
			        Sandboxes
			        <b class="caret"></b>
			      </a>
			    <ul class="dropdown-menu">
			      <a href="#">N/A</a>
			    </ul>
			  </li>
              <li><a data-toggle="modal" href="#contactInfo" >Contact Info</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <h1>Phil MacCart</h1>
      <div class="row">
      	<div class="span6 offset3">
	      	<p>Hi there, my name is <strong>Phil MacCart</strong>.  I'm a software consultant located in <strong>Chicago, IL</strong>.  I enjoy building web applications leveraging <strong>open source</strong> tools.  My preferred languages include <strong>Java</strong> and <strong>Javascript</strong>.  I grew up in <strong>Montana</strong>, and try to get back there as often as possible.  In my free time, I like hacking around with <strong>new technologies</strong>, watching/playing all different <strong>sports</strong>, keeping up with <strong>Notre Dame football</strong>, and spending time outdoors <strong>(running, snowboarding, camping)</strong>.  Follow me on Twitter (<a href="http://www.twitter.com/pmaccart">@pmaccart</a>), or connect with me on <a href="http://www.linkedin.com/in/pmaccart">Linked In</a>.</p>

	      	<div class="links">
		      <a href="http://www.twitter.com/pmaccart"><img src="images/twitter.png" /></a>
		      <a href="http://www.linkedin.com/in/pmaccart"><img src="images/linkedin.jpg" /></a></p>
		    </div>
        </div>
        <div class="span2 profile-img">
          <img src="images/profile-phone.jpg"></img>
        </div>
	  </div>
    </div>

    <div class="modal hide" id="contactInfo">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">x</a>
        <h3>Contact Info</h3>        
	  </div>
	  <div class="modal-body">
      	<div><a href="http://www.twitter.com/pmaccart"><img src="images/twitter.png" />&nbsp;@pmaccart</a></div>
		    <div><a href="http://www.linkedin.com/in/pmaccart"><img src="images/linkedin.jpg" />&nbsp;Phil MacCart</a></div>
	  </div>
	  <div class="modal-footer">
	  </div>
	</div>

    <script src="javascripts/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="javascripts/app.js"></script>

    </div> <!-- background -->
  </body>
</html>	
